<button type="button" class="btn btn-info float-sm-right" data-toggle="modal" data-target="#modal-lg">
    Tambah Data Peserta
</button>


<div class="modal fade" id="modal-lg">
    <form action="/datasets/" method="POST" class="needs-validation" novalidate>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Tambah Data Baru</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
                <div class="card-body">
                  <div class="form-group">
                    <label for="nama">Nama Peserta</label>
                    <input type="text" class="form-control" id="nama" name="datasets[nama]" placeholder="Masukkan Nama" required>
                    <div class="invalid-feedback">
                      Nama harus diisi.
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="datasets[email]" placeholder="Masukkan Email">
                  </div>
                  <div class="form-group">
                    <label for="handphone">Handphone</label>
                    <input type="text" class="form-control" id="handphone" name="datasets[handphone]" placeholder="Masukkan Nomor Handphone">
                  </div>
                  <div class="form-group">
                    <label for="perusahaan">Perusahaan</label>
                    <input type="text" class="form-control" id="perusahaan" name="datasets[perusahaan]" placeholder="Masukkan Nama Perusahaan">
                  </div>
                  <div class="form-group">
                    <label>Program</label>
                    <select class="form-control" name="datasets[program]">
                      <option>Pilih Program</option>
                        <% for (p of program) {%>
                            <option value="<%= p.nama %>"><%= p.nama %></option>
                        <% } %>  
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Batch Program</label>
                    <select class="form-control" name="datasets[batch]">
                      <option>Pilih Batch Program</option>
                        <% for (let i = 1; i <= 100; i++) {%>
                            <option value="<%= i %>"><%= i %></option>
                        <% } %>  
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" name="datasets[status]">
                      <option>Pilih Status</option>
                        <% for (s of status) {%>
                            <option value="<%= s.nama %>"><%= s.nama %></option>
                        <% } %>  
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Tanggal Input</label>
                      <div class="input-group date" id="reservationdate" data-target-input="nearest">
                          <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" name="datasets[tglInput]" placeholder="Masukkan Tanggal">
                          <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label>Concern</label>
                    <select class="form-control" name="datasets[concern]">
                      <option>Pilih Concern</option>
                        <% for (c of concern) {%>
                            <option value="<%= c.nama %>"><%= c.nama %></option>
                        <% } %>  
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Sumber</label>
                    <select class="form-control" name="datasets[sumber]">
                      <option>Pilih Sumber</option>
                        <% for (s of sumber) {%>
                            <option value="<%= s.nama %>"><%= s.nama %></option>
                        <% } %>  
                    </select>
                  </div>
                </div>
                <!-- /.card-body -->
              
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </form>
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->