<% layout("layouts/boilerplate.ejs") %> 
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Sumber Chart</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Sumber Chart</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title"><%= cariSumber %> <%= tahun %></h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">

                  <form class="mb-5" action="/chart/sumber?_method=GET" method="POST">
                    <div class="form-row">
                      <div class="col">
                        <label for="program">Sumber</label>
                        <select class="form-control" name="sumber" id="program">
                          <option value="">Pilih Sumber...</option>
                          <% for (s of sumber) {%>
                            <option value="<%= s.nama %>"><%= s.nama %></option>
                          <% } %>  
                        </select>
                      </div>

                      <div class="col">
                        <label for="tahun">Tahun</label>
                        <select class="form-control" name="tahun" id="tahun">
                          <option value="">Pilih Tahun...</option>
                          <% for (let i = new Date().getFullYear(); i >= 2017; i--) {%>
                            <option value="<%= i %>"><%= i %></option>
                          <% } %>  
                        </select>
                      </div>
                      
                      <div class="col">
                        <label for="resetBtn">Cari</label>
                        <button type="submit" class="form-control btn btn-primary">Cari</button>
                      </div>
                    </div>
                  </form>

                  <div class="chart">
                    <canvas id="lineChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                  <p class="text-muted">Total Data <%= cariSumber %> <%= tahun %>: <%= totalData %> Data</p>
                </div>
            <!-- /.card -->
          </div>
          
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
      const ctx = document.getElementById('lineChart');

      const jan = "<%= janLength %>"
      const feb = "<%= febLength %>"
      const mar = "<%= marLength %>"
      const apr = "<%= aprLength %>"
      const may = "<%= mayLength %>"
      const jun = "<%= junLength %>"
      const jul = "<%= julLength %>"
      const aug = "<%= augLength %>"
      const sep = "<%= sepLength %>"
      const oct = "<%= octLength %>"
      const nov = "<%= novLength %>"
      const dec = "<%= decLength %>"
      const namaSumber = "<%= cariSumber %> (<%= tahun %>)"
      

    new Chart(ctx, {
      data: {
        datasets: [{
            type: 'bar',
            label: namaSumber,
            data: [jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec]
        }, {
            type: 'line',
            label: namaSumber,
            data: [jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec],
            
        }],
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

  